<ul class="row list-unstyled mb-2 gx-2">
    <li class="col-md mb-2 text-center">
        <a class="bg-white border rounded flicker nav-link text-dark" href="{{ path('content', {survey: survey}) }}">Content</a>
    </li>
    <li class="col-md mb-2 text-center">
        <a class="bg-white border rounded flicker nav-link text-dark" href="{{ path('survey_edit', {survey: survey}) }}">Edit</a>
    </li>
    <li class="col-md mb-2 text-center">
        <a class="bg-white border rounded flicker nav-link text-dark" href="{{ path('stats', {survey: survey}) }}">Stats</a>
    </li>
    <li class="col-md mb-2 text-center">
        <a class="bg-white border rounded flicker nav-link text-dark" href="{{ path('stats_people', {survey: survey}) }}">People</a>
    </li>
    <li class="col-md mb-2 text-center">
        <a class="bg-white border rounded flicker nav-link text-dark" href="{{ path('share', {survey: survey}) }}">Share</a>
    </li>
</ul>