{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    {% if questions is empty %}
        <div class="card mt-3">
            <div class="card-body">
                <h3 class="text-primary">{{ survey.name }}</h3>
                <div>The survey does not contain any questions</div>
            </div>
        </div>
    {% elseif survey.repeatable or (survey.repeatable == false and pass is empty) %}
        <pass-layout
            survey-name="{{ survey.name }}"
            survey-description="{{ survey.description }}"
            survey-hash="{{ survey.hash }}"
            questions="{{ questions|serialize('json', ['answers', 'survey']) }}"
        ></pass-layout>
    {% else %}
        <div class="card mt-3">
            <div class="card-body">
                <h3 class="text-primary">{{ survey.name }}</h3>
                <div>You have already completed this survey</div>
            </div>
        </div>
    {% endif %}
{% endblock %}
