{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    {% include('partials/navigation.html.twig') %}
    {% for question in questions %}
        <div class="card mb-3">
            <div class="card-body">
                {% if question.type in ['string', 'text'] %}
                    <h3 class="text-primary">{{ question.text }}</h3>
                    {% for answer in noteStats %}
                        {% if answer.question_id == question.id %}
                            <div class="mb-1 bg-light p-2">{{ answer.text }}</div>
                        {% endif %}
                    {% else %}
                        <div>No results</div>
                    {% endfor %}
                {% elseif question.type in ['radio', 'checkbox'] %}
                    <h3 class="text-primary">{{ question.text }}</h3>
                    <div class="stats-row">
                        {% for option in question.options %}
                            <div class="row border-bottom pb-1 m-0 mb-2">
                                <div class="col-md-10 p-0">{{ option.text }}</div>
                                <div class="col-md-1 p-0">{{ choiceStats[option.id].amount ?? 0 }}</div>
                                <div class="col-md-1 p-0 text-md-end">
                                    {% if choiceStats[option.id] is defined %}
                                        {{ (choiceStats[option.id].amount * 100 / choiceStats[option.id].total)|number_format(1) + 0 }}%
                                    {% else %}
                                        0%
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% elseif question.type == 'scale' %}
                    <h3 class="text-primary">{{ question.text }}</h3>
                    <div class="stats-row">
                        {% for stat in scaleStats %}
                            {% if stat.question_id == question.id %}
                                <div class="row border-bottom pb-1 m-0 mb-2">
                                    <div class="col-md-10 p-0">{{ stat.scale_value }}</div>
                                    <div class="col-md-1 p-0"> {{ stat.amount }}</div>
                                    <div class="col-md-1 p-0 text-md-end">{{ (stat.amount * 100 / stat.total)|number_format(1) + 0 }}%</div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div>No results</div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="card mb-3">
            <div class="card-body">
                No results
            </div>
        </div>
    {% endfor %}
{% endblock %}
