{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    {% include('partials/navigation.html.twig') %}
    {% for question in questions %}
        {% if question.type in ['string', 'text'] %}
            <h3>{{ question.text }}</h3>
            {% for answer in noteStats %}
                {% if answer.question_id == question.id %}
                    <p>{{ answer.text }}</p>
                {% endif %}
            {% endfor %}
        {% elseif question.type in ['radio', 'checkbox'] %}
            <h3>{{ question.text }}</h3>
            {% for option in question.options %}
                <div>
                    {% if choiceStats[option.id] is defined %}
                        {{ (choiceStats[option.id].amount * 100 / choiceStats[option.id].total)|number_format(1) + 0 }}%
                    {% else %}
                        0%
                    {% endif %}
                    {{ option.text }} {{ choiceStats[option.id].amount ?? 0 }}
                </div>
            {% endfor %}
        {% elseif question.type == 'scale' %}
            <h3>{{ question.text }}</h3>
            {% for stat in scaleStats %}
                <div>
                    {{ (stat.amount * 100 / stat.total)|number_format(1) + 0 }}% {{ stat.scale_value }} {{ stat.amount }}
                </div>
            {% endfor %}
        {% endif %}
    {% else %}
        <div>No results</div>
    {% endfor %}
{% endblock %}
