{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    {% include('partials/navigation.html.twig') %}
    {% for question in questions %}
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <h3 class="card-title">{{ question.text }}</h3>
                {% if question.type in ['radio', 'checkbox'] %}
                    <ul class="list-group list-group-flush">
                        {% set answers = question.answers %}
                        {% for option in question.options %}
                            {% if answers[option.id] is defined %}
                                <li class="list-group-item list-group-item-success">{{ option.text }}</li>
                            {% else %}
                                <li class="list-group-item">{{ option.text }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% elseif question.type in ['string', 'text'] %}
                    {% for answer in question.answers %}
                        <div><span>{{ answer.text }}</span></div>
                    {% else %}
                        <div><span>No answers</span></div>
                    {% endfor %}
                {% elseif question.type == 'scale' %}
                    <div><span>{{ question.answers.first.scaleValue }}</span></div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                No results
            </div>
        </div>
    {% endfor %}
{% endblock %}
